/* Settings
--------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixins
--------------------------------------------- */
/* Global Styles for Trackers Earth
--------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", Arial, sans-serif; }
  body main {
    background: #f8f6f3;
    padding: 2em 0; }

/* Layout
--------------------------------------------- */
.container {
  margin: 0 3%; }

#colophon {
  clear: both; }

@media all and (min-width: 1024px) {
  #primary {
    float: left;
    width: 58.8%;
    margin-right: 3%; }

  #secondary {
    float: right;
    width: 38.2%; }

  .one-column {
    float: left;
    width: 17.6%;
    margin-right: 3%; }
    .one-column.last {
      margin-right: 0; }

  /* 
  All column items will be given a right margin. If an item is the farthest to the right on any particular row, assign a class of 'last' to it. This will remove the right margin.
  */ }
@media all and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto; } }
/* Typography
--------------------------------------------- */
body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #353535;
  font-size: 14px;
  font-size: 1.4rem; }

h1, h2, h3, h4 {
  margin: 1em 0 .5em; }

b {
  font-weight: 600; }

i {
  font-style: italic; }

.page-title {
  font-family: "Roboto Slab", "Open Sans", Arial, sans-serif;
  font-size: 30px;
  color: #1c2922; }

.entry-content h2 {
  font-size: 24px;
  font-family: "Roboto Slab", "Open Sans", Arial, sans-serif;
  color: #1c2922; }
.entry-content p {
  font-size: 14px;
  margin-bottom: 1.5em;
  line-height: 1.4; }

/* Header
--------------------------------------------- */
#masthead {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMjkyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzI5MjIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1c2922 0%, rgba(28, 41, 34, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c2922), color-stop(100%, rgba(28, 41, 34, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1c2922 0%, rgba(28, 41, 34, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1c2922 0%, rgba(28, 41, 34, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1c2922 0%, rgba(28, 41, 34, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1c2922 0%, rgba(28, 41, 34, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2922', endColorstr='#001c2922',GradientType=0 );
  /* IE6-8 */
  height: 120px;
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-transition: background .4s;
  -moz-transition: background .4s;
  -ms-transition: background .4s;
  -o-transition: background .4s;
  transition: background .4s; }
  #masthead.solid {
    background: rgba(28, 41, 34, 0.8); }
  #masthead .site-branding {
    width: 25%;
    float: left; }
    #masthead .site-branding a {
      color: #fff;
      display: block; }

/* Footer
--------------------------------------------- */
#colophon {
  margin-top: 3em;
  border-top: 1px solid red;
  padding-top: 1em; }
  #colophon #footer-menu {
    margin-bottom: 1em; }
    #colophon #footer-menu .menu li {
      display: inline-block;
      margin: 0 1em; }
  #colophon .site-info {
    background: #1c2922;
    color: #fff;
    padding: .5em 0;
    text-align: right; }
    #colophon .site-info p {
      font-size: 12px; }
      #colophon .site-info p a {
        color: #fff; }

/*
	jQuery.mmenu CSS
*/
/*
	jQuery.mmenu panels CSS
*/
.mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }

.mm-menu .mm-hidden {
  display: none; }

.mm-wrapper {
  overflow-x: hidden;
  position: relative; }

.mm-menu,
.mm-menu > .mm-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.mm-menu {
  background: inherit;
  display: block;
  overflow: hidden;
  padding: 0; }
  .mm-menu > .mm-panel {
    background: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
    .mm-menu > .mm-panel.mm-opened {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
    .mm-menu > .mm-panel.mm-subopened {
      -webkit-transform: translateX(-30%);
      transform: translateX(-30%); }
    .mm-menu > .mm-panel.mm-highest {
      z-index: 1; }
  .mm-menu .mm-list {
    padding: 20px 0; }
  .mm-menu > .mm-list {
    padding-bottom: 40px; }

.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px; }
  .mm-panel > .mm-list:first-child {
    padding-top: 0; }

.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

.mm-list {
  font: inherit;
  font-size: 14px; }
  .mm-list a,
  .mm-list a:hover {
    text-decoration: none; }
  .mm-list > li {
    position: relative; }
    .mm-list > li > a,
    .mm-list > li > span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      line-height: 20px;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    width: auto;
    margin-left: 20px;
    position: relative;
    left: auto; }
  .mm-list a.mm-subopen {
    background: rgba(3, 2, 1, 0);
    width: 40px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .mm-list a.mm-subopen:before {
      content: '';
      border-left-width: 1px;
      border-left-style: solid;
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .mm-list a.mm-subopen.mm-fullsubopen {
      width: 100%; }
      .mm-list a.mm-subopen.mm-fullsubopen:before {
        border-left: none; }
    .mm-list a.mm-subopen + a,
    .mm-list a.mm-subopen + span {
      padding-right: 5px;
      margin-right: 40px; }
  .mm-list > li.mm-selected > a.mm-subopen {
    background: transparent; }
  .mm-list > li.mm-selected > a.mm-fullsubopen + a,
  .mm-list > li.mm-selected > a.mm-fullsubopen + span {
    padding-right: 45px;
    margin-right: 0; }
  .mm-list a.mm-subclose {
    text-indent: 20px;
    padding-top: 30px;
    margin-top: -20px; }
  .mm-list > li.mm-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 25px;
    padding-right: 5px; }
  .mm-list > li.mm-spacer {
    padding-top: 40px; }
    .mm-list > li.mm-spacer.mm-label {
      padding-top: 25px; }
  .mm-list a.mm-subopen:after,
  .mm-list a.mm-subclose:before {
    content: '';
    border: 2px solid transparent;
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: -5px;
    position: absolute;
    bottom: 50%; }
  .mm-list a.mm-subopen:after {
    border-top: none;
    border-left: none;
    right: 18px; }
  .mm-list a.mm-subclose:before {
    border-right: none;
    border-bottom: none;
    margin-bottom: -15px;
    left: 22px; }

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px; }
  .mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
    border-color: transparent; }
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block; }
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen {
  height: 40px; }
  .mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 16px;
    right: 16px; }
.mm-menu.mm-vertical .mm-list > li.mm-opened.mm-label > a.mm-subopen {
  height: 25px; }

html.mm-opened .mm-page {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.mm-menu {
  background: #333;
  color: rgba(255, 255, 255, 0.6); }
  .mm-menu .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.15); }
  .mm-menu .mm-list > li > a.mm-subclose {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
    border-color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.15); }
  .mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu .mm-list > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.1); }
  .mm-menu .mm-list > li.mm-label {
    background: rgba(255, 255, 255, 0.05); }
  .mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(255, 255, 255, 0.05); }

/*
	jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }

html.mm-opened {
  overflow: hidden;
  position: relative; }
  html.mm-opened body {
    overflow: hidden; }
  html.mm-opened .mm-page {
    box-sizing: border-box;
    position: relative; }

html.mm-background .mm-page {
  background: inherit; }

#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block; }

.mm-menu.mm-offcanvas {
  display: none;
  position: fixed; }
.mm-menu.mm-current {
  display: block; }

.mm-menu {
  width: 80%;
  min-width: 140px;
  max-width: 440px; }

html.mm-opening .mm-page,
html.mm-opening #mm-blocker {
  -webkit-transform: translate(80%, 0);
  transform: translate(80%, 0); }

@media all and (max-width: 175px) {
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker {
    -webkit-transform: translate(140px, 0);
    transform: translate(140px, 0); } }
@media all and (min-width: 550px) {
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker {
    -webkit-transform: translate(440px, 0);
    transform: translate(440px, 0); } }
/*
	jQuery.mmenu buttonbars addon CSS
*/
.mm-buttonbar {
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
  position: relative; }
  .mm-buttonbar:after {
    content: '';
    display: block;
    clear: both; }
  .mm-buttonbar > * {
    border-left: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .mm-buttonbar > a {
    text-decoration: none; }
  .mm-buttonbar > input {
    position: absolute;
    left: -1000px;
    top: -1000px; }
  .mm-buttonbar > input:checked + label {
    border-color: transparent  !important; }
  .mm-buttonbar > *:first-child,
  .mm-buttonbar > input:first-child + * {
    border-left: none; }
  .mm-buttonbar.mm-buttonbar-2 > * {
    width: 50%; }
  .mm-buttonbar.mm-buttonbar-3 > * {
    width: 33.33%; }
  .mm-buttonbar.mm-buttonbar-4 > * {
    width: 25%; }
  .mm-buttonbar.mm-buttonbar-5 > * {
    width: 20%; }

.mm-header .mm-buttonbar {
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px; }

.mm-footer .mm-buttonbar {
  border: none;
  border-radius: none;
  line-height: 40px;
  margin: -10px -10px 0 -20px; }
  .mm-footer .mm-buttonbar > * {
    border-left: none; }

.mm-list > li > .mm-buttonbar {
  margin: 10px 20px; }

.mm-menu .mm-buttonbar {
  border-color: rgba(255, 255, 255, 0.6);
  background: #333; }
  .mm-menu .mm-buttonbar > * {
    border-color: rgba(255, 255, 255, 0.6); }
  .mm-menu .mm-buttonbar > input:checked + label {
    background: rgba(255, 255, 255, 0.6);
    color: #333; }

/*
	jQuery.mmenu counters addon CSS
*/
em.mm-counter {
  font: inherit;
  font-size: 14px;
  font-style: normal;
  text-indent: 0;
  line-height: 20px;
  display: block;
  margin-top: -10px;
  position: absolute;
  right: 40px;
  top: 50%; }
  em.mm-counter + a.mm-subopen {
    padding-left: 40px; }
    em.mm-counter + a.mm-subopen + a,
    em.mm-counter + a.mm-subopen + span {
      margin-right: 80px; }
  em.mm-counter + a.mm-fullsubopen {
    padding-left: 0; }

.mm-vertical em.mm-counter {
  top: 12px;
  margin-top: 0; }

.mm-nosubresults > em.mm-counter {
  display: none; }

.mm-menu em.mm-counter {
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }

/*
	jQuery.mmenu footer addon CSS
*/
.mm-footer {
  background: inherit;
  border-top: 1px solid transparent;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 10px 0 20px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0; }

.mm-menu.mm-hasfooter > .mm-panel {
  padding-bottom: 80px; }

.mm-menu .mm-footer {
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu header addon CSS
*/
.mm-header {
  background: inherit;
  border-bottom: 1px solid transparent;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0; }
  .mm-header .mm-title,
  .mm-header .mm-prev,
  .mm-header .mm-next {
    padding-top: 30px; }
  .mm-header .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    position: relative; }
  .mm-header .mm-prev,
  .mm-header .mm-next {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    min-width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1; }
  .mm-header .mm-prev {
    padding-left: 20px;
    padding-right: 10px;
    left: 0; }
  .mm-header .mm-next {
    padding-left: 10px;
    padding-right: 20px;
    right: 0; }
  .mm-header [href].mm-prev:before, .mm-header [href].mm-next:after {
    content: '';
    border: 2px solid transparent;
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .mm-header [href].mm-prev:before {
    border-right: none;
    border-bottom: none;
    margin-left: 2px;
    margin-right: 5px; }
  .mm-header [href].mm-next:after {
    border-top: none;
    border-left: none;
    margin-left: 5px;
    margin-right: -2px; }

.mm-menu.mm-hassearch .mm-header {
  height: 50px;
  top: 50px; }
  .mm-menu.mm-hassearch .mm-header .mm-title,
  .mm-menu.mm-hassearch .mm-header .mm-prev,
  .mm-menu.mm-hassearch .mm-header .mm-next {
    padding-top: 20px; }

.mm-menu.mm-hasheader li.mm-subtitle {
  display: none; }
.mm-menu.mm-hasheader > .mm-panel {
  padding-top: 80px; }
  .mm-menu.mm-hasheader > .mm-panel.mm-list {
    padding-top: 60px; }
  .mm-menu.mm-hasheader > .mm-panel > .mm-list:first-child {
    margin-top: -20px; }
.mm-menu.mm-hasheader.mm-hassearch > .mm-panel {
  padding-top: 120px; }
  .mm-menu.mm-hasheader.mm-hassearch > .mm-panel.mm-list {
    padding-top: 100px; }

.mm-menu .mm-header {
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-header .mm-prev:before,
  .mm-menu .mm-header .mm-next:after {
    border-color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu labels addon CSS
*/
.mm-list > li.mm-label > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  line-height: 25px; }
.mm-list > li.mm-label.mm-opened a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 17px; }
.mm-list > li.mm-collapsed {
  display: none; }

.mm-menu .mm-list li.mm-label > div > div {
  background: rgba(255, 255, 255, 0.05); }

/*
	jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
  box-sizing: border-box; }

.mm-list > li.mm-search {
  padding: 10px;
  margin-top: -20px; }
.mm-list > li.mm-subtitle + li.mm-search {
  margin-top: 0; }

div.mm-panel > div.mm-search {
  padding: 0 0 10px 0; }

.mm-menu.mm-hasheader .mm-list > li.mm-search {
  margin-top: 0; }

.mm-search {
  background: inherit;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  .mm-search input {
    border: none;
    border-radius: 30px;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    outline: none;
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 10px; }

.mm-menu .mm-noresultsmsg {
  text-align: center;
  font-size: 21px;
  display: none;
  padding: 60px 0; }
  .mm-menu .mm-noresultsmsg:after {
    border: none !important; }

.mm-noresults .mm-noresultsmsg {
  display: block; }

.mm-menu li.mm-nosubresults > a.mm-subopen {
  display: none; }
  .mm-menu li.mm-nosubresults > a.mm-subopen + a,
  .mm-menu li.mm-nosubresults > a.mm-subopen + span {
    padding-right: 10px; }
.mm-menu.mm-hassearch > .mm-panel {
  padding-top: 70px; }
  .mm-menu.mm-hassearch > .mm-panel > .mm-list:first-child {
    margin-top: -20px; }
.mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child {
  margin-top: -10px; }
  .mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child + .mm-list {
    padding-top: 0; }

.mm-menu .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }
.mm-menu .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu toggles addon CSS
*/
input.mm-toggle,
input.mm-check {
  position: absolute;
  left: -10000px; }

label.mm-toggle,
label.mm-check {
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 1; }
  label.mm-toggle:before,
  label.mm-check:before {
    content: '';
    display: block; }

label.mm-toggle {
  border-radius: 30px;
  width: 50px;
  height: 30px;
  margin-top: -15px; }
  label.mm-toggle:before {
    border-radius: 30px;
    width: 28px;
    height: 28px;
    margin: 1px; }

input.mm-toggle:checked ~ label.mm-toggle:before {
  float: right; }

label.mm-check {
  width: 30px;
  height: 30px;
  margin-top: -15px; }
  label.mm-check:before {
    border-left: 3px solid;
    border-bottom: 3px solid;
    width: 40%;
    height: 20%;
    margin: 25% 0 0 20%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

label.mm-toggle, label.mm-check {
  right: 20px; }

label.mm-toggle + a,
label.mm-toggle + span {
  margin-right: 70px; }

label.mm-check + a,
label.mm-check + span {
  margin-right: 50px; }

a.mm-subopen + label.mm-toggle, a.mm-subopen + label.mm-check {
  right: 50px; }

a.mm-subopen + label.mm-toggle + a,
a.mm-subopen + label.mm-toggle + span {
  margin-right: 100px; }

a.mm-subopen + label.mm-check + a,
a.mm-subopen + label.mm-check + span {
  margin-right: 80px; }

em.mm-counter + a.mm-subopen + label.mm-toggle, em.mm-counter + a.mm-subopen + label.mm-check {
  right: 90px; }

em.mm-counter + a.mm-subopen + label.mm-toggle + a,
em.mm-counter + a.mm-subopen + label.mm-toggle + span {
  margin-right: 140px; }

em.mm-counter + a.mm-subopen + label.mm-check + a,
em.mm-counter + a.mm-subopen + label.mm-check + span {
  margin-right: 120px; }

.mm-menu label.mm-toggle {
  background: rgba(0, 0, 0, 0.15); }
  .mm-menu label.mm-toggle:before {
    background: #333; }
.mm-menu input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

.mm-menu label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.3); }
.mm-menu input.mm-check:checked ~ label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6); }

/*
	jQuery.mmenu effects extension CSS
*/
html.mm-slide .mm-menu {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }
html.mm-slide.mm-opened .mm-menu {
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%); }
html.mm-slide.mm-opening .mm-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }
html.mm-slide.mm-right.mm-opened .mm-menu {
  -webkit-transform: translateX(30%);
  transform: translateX(30%); }
html.mm-slide.mm-right.mm-opening .mm-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }
html.mm-slide.mm-top.mm-opened .mm-menu {
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%); }
html.mm-slide.mm-top.mm-opening .mm-menu {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }
html.mm-slide.mm-bottom.mm-opened .mm-menu {
  -webkit-transform: translateY(30%);
  transform: translateY(30%); }
html.mm-slide.mm-bottom.mm-opening .mm-menu {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }

html.mm-zoom-menu .mm-menu {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }
html.mm-zoom-menu.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateX(-30%);
  transform: scale(0.7, 0.7) translateX(-30%);
  -webkit-transform-origin: left center;
  transform-origin: left center; }
html.mm-zoom-menu.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateX(0%);
  transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-right.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateX(30%);
  transform: scale(0.7, 0.7) translateX(30%);
  -webkit-transform-origin: right center;
  transform-origin: right center; }
html.mm-zoom-menu.mm-right.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateX(0%);
  transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-top.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateY(-30%);
  transform: scale(0.7, 0.7) translateY(-30%);
  -webkit-transform-origin: center top;
  transform-origin: center top; }
html.mm-zoom-menu.mm-top.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateY(0%);
  transform: scale(1, 1) translateY(0%); }
html.mm-zoom-menu.mm-bottom.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateY(30%);
  transform: scale(0.7, 0.7) translateY(30%);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }
html.mm-zoom-menu.mm-bottom.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateY(0%);
  transform: scale(1, 1) translateY(0%); }

html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel {
  -webkit-transform: scale(1.5, 1.5) translateX(100%);
  transform: scale(1.5, 1.5) translateX(100%);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: -webkit-transform, left;
  transition-property: transform, left; }
  html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened {
    -webkit-transform: scale(1, 1) translateX(0%);
    transform: scale(1, 1) translateX(0%); }
    html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened.mm-subopened {
      -webkit-transform: scale(0.7, 0.7) translateX(-30%);
      transform: scale(0.7, 0.7) translateX(-30%); }

/*
	jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px; }

html.mm-opening.mm-fullscreen .mm-page,
html.mm-opening.mm-fullscreen #mm-blocker {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0); }

@media all and (max-width: 140px) {
  html.mm-opening.mm-fullscreen .mm-page,
  html.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(140px, 0);
    transform: translate(140px, 0); } }
@media all and (min-width: 10000px) {
  html.mm-opening.mm-fullscreen .mm-page,
  html.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(10000px, 0);
    transform: translate(10000px, 0); } }
html.mm-right.mm-opening.mm-fullscreen .mm-page,
html.mm-right.mm-opening.mm-fullscreen #mm-blocker {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }

@media all and (max-width: 140px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-page,
  html.mm-right.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }
@media all and (min-width: 10000px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-page,
  html.mm-right.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(-10000px, 0);
    transform: translate(-10000px, 0); } }
.mm-menu.mm-front.mm-fullscreen.mm-top, .mm-menu.mm-front.mm-fullscreen.mm-bottom {
  height: 100%;
  min-height: 140px;
  max-height: 10000px; }

html.mm-opened.mm-fullscreen .mm-page {
  box-shadow: none !important; }

/*
	jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0; }

html.mm-right.mm-opening .mm-page,
html.mm-right.mm-opening #mm-blocker {
  -webkit-transform: translate(-80%, 0);
  transform: translate(-80%, 0); }

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker {
    -webkit-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker {
    -webkit-transform: translate(-440px, 0);
    transform: translate(-440px, 0); } }
/*
	jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-page,
html.mm-front #mm-blocker {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  z-index: 0; }

.mm-menu.mm-front {
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

html.mm-opened.mm-next .mm-page {
  box-shadow: none; }

.mm-menu.mm-front, .mm-menu.mm-next {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
  .mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0); }
.mm-menu.mm-front.mm-top {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%); }
.mm-menu.mm-front.mm-bottom {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%); }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.mm-menu.mm-front.mm-top, .mm-menu.mm-front.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px; }

/*
	jQuery.mmenu themes extension CSS
*/
html.mm-opened.mm-light .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-light .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light .mm-list > li > a.mm-subclose {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-list > li > a.mm-subopen:after, .mm-menu.mm-light .mm-list > li > a.mm-subclose:before {
    border-color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-light .mm-list > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-light .mm-list > li.mm-label {
    background: rgba(0, 0, 0, 0.03); }
  .mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-buttonbar {
  border-color: rgba(0, 0, 0, 0.6);
  background: #f3f3f3; }
  .mm-menu.mm-light .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-light .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.6);
    color: #f3f3f3; }

.mm-menu.mm-light label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light input.mm-check:checked ~ label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-light em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-footer {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-header .mm-prev:before,
  .mm-menu.mm-light .mm-header .mm-next:after {
    border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light label.mm-toggle {
  background: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light label.mm-toggle:before {
    background: #f3f3f3; }
.mm-menu.mm-light input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

html.mm-opened.mm-white .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white {
  background: #fff;
  color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-white .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white .mm-list > li > a.mm-subclose {
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-list > li > a.mm-subopen:after, .mm-menu.mm-white .mm-list > li > a.mm-subclose:before {
    border-color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-white .mm-list > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.06); }
  .mm-menu.mm-white .mm-list > li.mm-label {
    background: rgba(0, 0, 0, 0.03); }
  .mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-buttonbar {
  border-color: rgba(0, 0, 0, 0.6);
  background: #fff; }
  .mm-menu.mm-white .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-white .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.6);
    color: #fff; }

.mm-menu.mm-white label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white input.mm-check:checked ~ label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-white em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-footer {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-header .mm-prev:before,
  .mm-menu.mm-white .mm-header .mm-next:after {
    border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white label.mm-toggle {
  background: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white label.mm-toggle:before {
    background: #fff; }
.mm-menu.mm-white input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

html.mm-opened.mm-black .mm-page {
  box-shadow: none; }

.mm-menu.mm-black {
  background: #000;
  color: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-black .mm-list > li:after {
    border-color: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black .mm-list > li > a.mm-subclose {
    background: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-list > li > a.mm-subopen:after, .mm-menu.mm-black .mm-list > li > a.mm-subclose:before {
    border-color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-list > li > a.mm-subopen:before {
    border-color: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-black .mm-list > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.25); }
  .mm-menu.mm-black .mm-list > li.mm-label {
    background: rgba(255, 255, 255, 0.15); }
  .mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-buttonbar {
  border-color: rgba(255, 255, 255, 0.6);
  background: #000; }
  .mm-menu.mm-black .mm-buttonbar > * {
    border-color: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-black .mm-buttonbar > input:checked + label {
    background: rgba(255, 255, 255, 0.6);
    color: #000; }

.mm-menu.mm-black label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black input.mm-check:checked ~ label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-black em.mm-counter {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-footer {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-header {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-header .mm-prev:before,
  .mm-menu.mm-black .mm-header .mm-next:after {
    border-color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-list li.mm-label > div > div {
  background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black label.mm-toggle {
  background: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black label.mm-toggle:before {
    background: #000; }
.mm-menu.mm-black input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

/* Menus
--------------------------------------------- */
@media screen and (768px) {
  #masthead .menu {
    margin: 1em 0; }
    #masthead .menu li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
      font-size: 1.3rem; }
      #masthead .menu li a {
        color: #fff;
        text-decoration: none;
        padding: 1em;
        display: block; }
  #masthead #main-navigation {
    float: left;
    width: 50%; }
    #masthead #main-navigation ul li {
      position: relative; }
      #masthead #main-navigation ul li ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        background: rgba(28, 41, 34, 0.8);
        display: none;
        float: left;
        left: 0;
        position: absolute;
        top: 1.5em;
        z-index: 99999;
        padding: 1em 0; }
        #masthead #main-navigation ul li ul li a {
          width: 200px;
          display: block;
          padding: .5em 1em; }
          #masthead #main-navigation ul li ul li a:hover {
            background: #1c2922; }
        #masthead #main-navigation ul li ul ul {
          left: 100%;
          top: 0; }
    #masthead #main-navigation ul li:hover > ul {
      display: block; }
    #masthead #main-navigation .secondary {
      float: right;
      width: 25%; } }
/* Blocks
--------------------------------------------- */
.blocks {
  clear: both; }
  .blocks .block {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #b9b9b9;
    padding: 1em; }

/* Magnific Popup CSS 
--------------------------------------------- */
/* Settings
--------------------------------------------- */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  line-height: 1;
  display: inline-block;
  content: '\f001'; }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
/* Slider Style Overrides - Trackers Earth
--------------------------------------------- */
#hero-slider {
  width: 100%;
  clear: both; }
  #hero-slider .flexslider {
    margin: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    #hero-slider .flexslider .slides {
      height: 100%; }
      #hero-slider .flexslider .slides .slide {
        height: 60vh;
        width: 10%;
        position: relative; }
        #hero-slider .flexslider .slides .slide img {
          width: 100%; }
        #hero-slider .flexslider .slides .slide .content {
          position: absolute;
          top: 10em;
          left: 8em; }
    #hero-slider .flexslider .flex-control-paging {
      bottom: 1em; }
      #hero-slider .flexslider .flex-control-paging li a {
        background: #bbb;
        background: rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: none;
        box-shadow: none; }
        #hero-slider .flexslider .flex-control-paging li a:hover {
          background: #dc3d12;
          background: rgba(220, 61, 18, 0.7); }
        #hero-slider .flexslider .flex-control-paging li a.flex-active {
          background: #fff;
          background: white; }

/* Registration
--------------------------------------------- */
#registration {
  clear: both;
  margin: 2em 0; }
  #registration .ui-tabs .ui-tabs-nav li {
    display: inline-block;
    border-right: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    font-family: "Roboto Slab", "Open Sans", Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem; }
    #registration .ui-tabs .ui-tabs-nav li a {
      text-decoration: none;
      color: #555;
      background: rgba(255, 255, 255, 0.8);
      border-top: 1px solid #b9b9b9;
      display: block;
      padding: .5em;
      box-sizing: border-box;
      -webkit-transition: background .2s;
      -moz-transition: background .2s;
      -ms-transition: background .2s;
      -o-transition: background .2s;
      transition: background .2s; }
      #registration .ui-tabs .ui-tabs-nav li a:hover {
        background: #fff;
        color: #1c2922; }
    #registration .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
      background: #1c2922;
      color: #fff; }
  #registration .ui-tabs .ui-tabs-panel .location {
    border-right: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    border-top: 3px solid #1c2922;
    box-sizing: border-box;
    position: relative; }
    #registration .ui-tabs .ui-tabs-panel .location img {
      width: 100%;
      vertical-align: top; }
    #registration .ui-tabs .ui-tabs-panel .location .gradient {
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMjkyMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzI5MjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, rgba(28, 41, 34, 0) 0%, #1c2922 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(28, 41, 34, 0)), color-stop(100%, #1c2922));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(28, 41, 34, 0) 0%, #1c2922 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(28, 41, 34, 0) 0%, #1c2922 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(28, 41, 34, 0) 0%, #1c2922 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(28, 41, 34, 0) 0%, #1c2922 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c2922', endColorstr='#1c2922',GradientType=0 );
      /* IE6-8 */ }
      #registration .ui-tabs .ui-tabs-panel .location .gradient figcaption {
        position: absolute;
        bottom: 1em;
        left: 1em;
        color: #fff;
        font-size: 20px;
        font-size: 2rem;
        font-weight: 500;
        font-style: italic; }
  #registration .ui-tabs .ui-tabs-panel .accordion .head {
    margin-top: .5em;
    background: rgba(135, 164, 132, 0.2);
    padding: 1em 1em;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    font-size: 16px;
    font-size: 1.6rem; }
    #registration .ui-tabs .ui-tabs-panel .accordion .head:hover {
      background: rgba(135, 164, 132, 0.3); }
    #registration .ui-tabs .ui-tabs-panel .accordion .head.active {
      background: #87a484;
      color: #fff; }
    #registration .ui-tabs .ui-tabs-panel .accordion .head h3 {
      line-height: 1;
      margin: 0; }
  #registration .ui-tabs .ui-tabs-panel .accordion .content {
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9; }
    #registration .ui-tabs .ui-tabs-panel .accordion .content .classlist li {
      border-bottom: 1px solid #b9b9b9; }
      #registration .ui-tabs .ui-tabs-panel .accordion .content .classlist li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        color: #555;
        font-size: 14px;
        font-size: 1.4rem;
        -webkit-transition: background .2s;
        transition: .2s; }
        #registration .ui-tabs .ui-tabs-panel .accordion .content .classlist li a:hover {
          background: #eee; }
        #registration .ui-tabs .ui-tabs-panel .accordion .content .classlist li a .full {
          color: #dc3d12; }
      #registration .ui-tabs .ui-tabs-panel .accordion .content .classlist li.full a {
        background: #FCD5C7; }
