/* Blocks
--------------------------------------------- */

.blocks {
	clear: both;

	.block {
		box-sizing: border-box; //Sets border inside dimensions
		background: $bg-white;

		border: $block-border;

		padding: 1em;
	}
}