/* Content
--------------------------------------------- */

.bread-wrapper {
	background: $bg-mid;
	padding: 1em 0;

	.breadcrumb {
		font-style: italic;
		//margin: $vspacing 0;
	}
}


.entry-content {
	margin-bottom: 3em;
}

.callout {
	background: $bg-white;
	border: $block-border;
	margin-bottom: 3em;
	
	.title {
		background: $green-light;
		margin: 0;
		padding: .5em 1em;
	}
	
	.content {
		padding: $vspacing 2em;

		.subheading {
			font-family: $base-font;
			font-style: italic;
			font-weight: 600;
			@include font-size(16);
		}
	}
}