/* Footer
--------------------------------------------- */

#colophon {
	//margin-top: 3em;
	//border-top: $block-border;
	padding-top: 1em;
	background: $bg-mid;

	#footer-menu {
		margin-bottom: 1em;
		
		.menu {
			li {
				margin-bottom: $vspacing;
				font-style: italic;

				@media all and (min-width: $break-medium) {
					display: inline-block;
					margin: 0 1em;
				}
				
				

				a {
					text-decoration: none;
					color: $bg-dark;

					&:hover,
					&:active {
						text-decoration: underline;
						color: $link-hover;
					}
				}
				
			}
		}
	}

	.site-info {
		background: $bg-dark;
		color: #fff;
		padding: .5em 0;
		text-align: right;

		p {
			@include font-size(11);
			line-height: $line-height-content;

			a {
				color: #fff;

				&:hover,
				&:active {
					color: $bg-main;
				}
			}
		}
	}
}