/* Footer
--------------------------------------------- */

#colophon {
	margin-top: 3em;
	border-top: 1px solid red;
	padding-top: 1em;

	#footer-menu {
		margin-bottom: 1em;
		
		.menu {
			li {
				display: inline-block;
				margin: 0 1em;
			}
		}
	}

	.site-info {
		background: #222;
		color: #fff;
		padding: .5em 0;
		text-align: center;

		p {
			font-size: 12px;

			a {
				color: #fff;
			}
		}
	}
}