/* Forms
--------------------------------------------- */

form,
.entry-content form {
	//padding: 2em 1em;
	//background: rgba(255,255,255,0.5);
	margin-bottom: 3em;

	h2 {
		font-family: $heading-font;
		@include font-size(16);
		margin-bottom: $vspacing;
	}

	p {
		margin-bottom: 1em;
		line-height: $line-height-content;
	}

	ul { //Radio and checkboxes should be ul
		margin-top: 1em;
		list-style: none;
		margin-left: 0;
		
		li {
			margin-left: 1em;
			margin-bottom: 0;
			label {
				display: inline;
			}
		}
	}

	.indicates-required {
		@include font-size(10);
		font-style: italic;
		margin-bottom: 1em;
	}
}


button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

.button,
.button:visited,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	//Green
	background: $green; /* Old browsers */
	//background: #9ab398; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhYjM5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Mzk1NzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #9ab398 0%, #739570 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ab398), color-stop(100%,#739570)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9ab398 0%,#739570 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9ab398 0%,#739570 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9ab398 0%,#739570 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9ab398 0%,#739570 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ab398', endColorstr='#739570',GradientType=0 ); /* IE6-8 */

	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	@include font-size(14);
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	line-height: 1;
	padding: .6em 1em;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(4,4,4,.2);
	box-shadow: 1px 1px 1px 0 rgba(4,4,4,.2);
	border: none;
	border-radius: 0;
	-webkit-text-shadow: -1px -1px 2px #748e72;
	-moz-text-shadow: -1px -1px 2px #748e72;
	-ms-text-shadow: -1px -1px 2px #748e72;
	-o-text-shadow: -1px -1px 2px #748e72;
	text-shadow: -1px -1px 2px #748e72;
	display: inline-block; //Keeps padding from overflowing into neighboring elements
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
	

	&:hover {
		background: $green-hover; 
		//background: #b7d0b4; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3ZDBiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGFiN2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #b7d0b4 0%, #80ab7b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7d0b4), color-stop(100%,#80ab7b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #b7d0b4 0%,#80ab7b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #b7d0b4 0%,#80ab7b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #b7d0b4 0%,#80ab7b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #b7d0b4 0%,#80ab7b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7d0b4', endColorstr='#80ab7b',GradientType=0 ); /* IE6-8 */

				
		color: #fff;
	}

	&.action { //Orange button
		background: $trackers-orange; 
		//background: #e64f17; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NGYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMjJjMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #e64f17 0%, #d22c0d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e64f17), color-stop(100%,#d22c0d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e64f17 0%,#d22c0d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e64f17 0%,#d22c0d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e64f17 0%,#d22c0d 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #e64f17 0%,#d22c0d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64f17', endColorstr='#d22c0d',GradientType=0 ); /* IE6-8 */

		-webkit-text-shadow: -1px -1px 2px #bb4728;
		-moz-text-shadow: -1px -1px 2px #bb4728;
		-ms-text-shadow: -1px -1px 2px #bb4728;
		-o-text-shadow: -1px -1px 2px #bb4728;
		text-shadow: -1px -1px 2px #bb4728;

		&:hover {
			//background: $trackers-orange-hover; 
			background: #f8652c; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4NjUyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMjM4MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #f8652c 0%, #f23818 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8652c), color-stop(100%,#f23818)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f8652c 0%,#f23818 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f8652c 0%,#f23818 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f8652c 0%,#f23818 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f8652c 0%,#f23818 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8652c', endColorstr='#f23818',GradientType=0 ); /* IE6-8 */


		}

		&:focus,
		&:active {
			border: 1px solid red;
		}
	}

	&.big { //Bigger button
		@include font-size(18);
		font-weight: 400;
	}

	&.small {
		@include font-size(12);
	}

	&.x-large {
		@include font-size(24);
	}
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */

}

label {
	clear: both;
	margin-right: 1em;
	display: block;
	margin-bottom: .5em;
	font-style: italic;
	color: $text-light;
}


input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
	margin-right: .5em;
	margin-bottom: $vspacing;
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing: 	content-box;
	box-sizing: 		content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

select {
	@include font-size(16);
	margin-bottom: $vspacing;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	//border-radius: 3px;
	font-size: 16px; //Keeps iOS from zooming
	margin-bottom: $vspacing;
	max-width: 94%;

	//Placeholders
	&::-webkit-input-placeholder {
	   font-style: italic;
	   font-weight: 300;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   font-style: italic;
	   font-weight: 300;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   font-style: italic;
	   font-weight: 300;
	}

	&:-ms-input-placeholder {  
	   font-style: italic;
	   font-weight: 300;
	}
}

@media screen and (min-width: $break-small) {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	textarea {
		font-size: 14px;
		font-size: 1.4rem;
	}
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
	padding: .5em;
	
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
}


/* EMAIL SIGNUP FORM */

.email-signup {
	display: none;
}

@media screen and (min-width: $break-medium) {
	#hero-slider {
		.container {
			position: relative;

			.email-signup {
				display: block;
				position: absolute;
				bottom: 1em;
				right: 1em;

				form {
					margin-bottom: 0;

					label {
						//display: inline-block;
						color: #fff;
						font-family: $heading-font;
						@include font-size(16);
						text-transform: uppercase;
						font-style: normal;
						font-weight: 100;
					}

					input[type="email"] {
						padding: .5rem;
						//box-sizing: border-box;
						margin-right: -.4rem;
						margin-bottom: 0;
						height: 20px;
						width: 200px;
					}

					input[type="submit"] {
						padding: .85rem;
						height: 32px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $break-large) {
	#hero-slider {
		.container {


			.email-signup {


				form {
					margin-bottom: 0;

					label {
						display: inline-block;
						
					}

					
				}
			}
		}
	}
}


