/* Global Styles for Trackers Earth
--------------------------------------------- */

html {
  font-size: 62.5%; // Sets up the Base 10 stuff
}

body {
	//background: yellow;
	font-family: $base-font;
	
	main {
		background: $bg-main;
 		overflow: auto;

	}
}

img {
	vertical-align: top;
}

.alignright {
	//float: right;
	text-align: right;
}

.alignleft {
	//float: left;
	text-align: left;
}

.aligncenter {
	text-align: center;
}