/* Header
--------------------------------------------- */

#masthead {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMjkyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzI5MjIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(28,41,34,1) 0%, rgba(28,41,34,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,41,34,1)), color-stop(100%,rgba(28,41,34,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(28,41,34,1) 0%,rgba(28,41,34,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(28,41,34,1) 0%,rgba(28,41,34,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(28,41,34,1) 0%,rgba(28,41,34,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(28,41,34,1) 0%,rgba(28,41,34,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2922', endColorstr='#001c2922',GradientType=0 ); /* IE6-8 */



	//height: 100px;
	position: fixed;
	z-index: 100;
	width: 100%;

	-webkit-transition: background .4s;
	-moz-transition: background .4s;
	-ms-transition: background .4s;
	-o-transition: background .4s;
	transition: background .4s;
	

	&.solid { //Change to solid on scroll past slider
		background: rgba(28,41,34,0.8);
	}


	.site-branding {
		width: 70%;
		float: left;
		clear: none;
		margin: 1em 5% 1em 0;

		a {
			color: #fff;
			display: block;

			img {
				width: 100%;

			}
		}
	}

	
}

@media all and (min-width: $break-small) {
	#masthead {
		.site-branding{
			width: 45%;


		}
	}
}

@media all and (min-width: $break-medium) {
	#masthead {
		.site-branding{
			width: 35%;


		}
	}

	#main-navigation {
		float: right;
		width: 60%;

		.menu {
			
			
			&.main {
				float: right;
				margin: 1em 0 0;

				li {

					a {
						padding: .5em .75em;
					}
				}
			}

			&.secondary {
				float: right;
				margin: .5rem 0; //make up for extra height of icons @18px

				li {

					a {
						padding: .5em 1.5em;
					}
				}
			}
		}
	}
}

@media all and (min-width: $break-large) {
	#masthead {
		.site-branding{
			width: 25%;


		}

		#main-navigation {
			float: right;
			width: 70%;

			.menu {


				&.main {
					float: left;
					margin: 2.8rem 0;

					li {

						a {
							padding: .5em .75em;
						}
					}
				}

				&.secondary {
					float: right;
					margin: 2.4rem 0; //make up for extra height of icons @18px

					li {

						a {
							padding: .5em .75em;
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: 1120px) {
	#masthead {


		#main-navigation {


			.menu {


				&.main {


					li {

						a {
							padding: 0 1em;
						}
					}
				}

				&.secondary {
					
					//margin: 2.4rem 0; //make up for extra height of icons @18px

					li {

						a {
							padding: 0 1em;
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: $break-x-large) {
	#masthead {


		#main-navigation {
			float: right;
			width: 70%;

			.menu {
				

				&.main {

					margin: 4rem 0;

					li {

						a {
							padding: 0 1.25em;
						}
					}
				}

				&.secondary {
					
					margin: 3.6rem 0;

					li {

						a {
							padding: 0 1.25em;
						}
					}
				}
			}
		}
	}
}