/* Layout
--------------------------------------------- */
body {
	main {
		padding: 0 0 6em 0;
	}
}
//Layout Breakpoints
$break-small: 480px;
$break-medium: 769px;
$break-large: 1024px;
$break-x-large: 1320px;

//Grid - 5 columns
$col-1-5: 17.6%;
$col-2-5: 38.2%;
$col-3-5: 58.8%;
$col-4-5: 79.4%;
$col-full: 100%;
$gutter: 3%;

//Grid - 2 columns
$col-1-2: 48.5%;

.container {
	margin: 0 3%;

	.primary,
	.secondary {
		margin-bottom: 3em;
	}
}

.clear {
	clear: both;
}

.below-content {
	clear: both;
}

#colophon {
	clear: both;
}


@media all and (min-width: $break-small) {
	.block-row {

		.block,
		.item {

			
			//Columns
			&.small {
				float: left;
				width: $col-1-2;
				margin-right: $gutter;

				
			}

			&.medium {
				float: left;
				width: $col-1-2;
				margin-right: $gutter;

				//&:nth-child(2n) {
				//	margin-right: 0;
				//}
			}

			&.large {
				float: left;
				width: $col-full;
				margin-right: 0;

			}

			//No four-column - use is discouraged 

			&.full {
				float: left;
				width: $col-full;
				margin-right: 0;

			}
			
			&:nth-child(2n) {
					margin-right: 0;
				}

		}
		
		/* 
		All column items will be given a right margin. If an item is the farthest to the right on any particular row, assign a class of 'last' to it. This will remove the right margin.
		*/
	} // .block-row

}

@media all and (min-width: $break-medium) {
}

@media all and (min-width: $break-large) {


	

	.primary {
		float: left;
		width: $col-3-5;
		margin-right: $gutter;
		//margin-bottom: 3em;
	}
	
	.block-row {

		.block,
		.item {
			//Columns
			&.small {
				float: left;
				width: $col-1-5;
				margin-right: $gutter;
				
				&:nth-child(2n) {
					margin-right: $gutter; //resetting margins from small size
				}

				&.last {
					margin-right: 0;
				}

				
			}

			&.medium {
				float: left;
				width: $col-2-5;
				margin-right: $gutter;
				
				&:nth-child(2n) {
					margin-right: $gutter;
				}

				&.last {
					margin-right: 0;
				}

				
			}

			&.large {
				float: left;
				width: $col-3-5;
				margin-right: $gutter;

				&.last {
					margin-right: 0;
				}
			}

			//No four-column - use is discouraged 

			&.full {
				float: left;
				width: $col-full;
				margin-right: $gutter;

				&.last {
					margin-right: 0;
				}
			}


		}
		
		/* 
		All column items will be given a right margin. If an item is the farthest to the right on any particular row, assign a class of 'last' to it. This will remove the right margin.
		*/
	} // .block-row

	.secondary {
		$col-1-2: 46.5%;
		$gutter: 7%;

		float: right;
		width: $col-2-5;
		//margin-bottom: 3em;

		.block-row { //REFIGURE MATH ON THIS

			.block,
			.item {
				

				&.small,
				&.medium {
					width: $col-1-2;
					margin-right: $gutter;

				}

				&.large {
					width: $col-full;
					margin-right: 0;
				}


				&.last {
					margin-right: 0;
				}

			}
		}

		

	}

	
}

@media all and (min-width: $break-x-large) {
	.container {
		max-width: 1280px;
		margin: 0 auto;
	}
}