/* Menus
--------------------------------------------- */

@media screen and ($break-medium) {

	#masthead {
		
		//General masthead menu rules
		.menu {
			//float: left;
			margin: 1em 0;

			li {
				display: inline-block;
				text-transform: uppercase;
				font-weight: 500;
				@include font-size(13);

				a {
					color: #fff;
					text-decoration: none;
					padding: 1em;
					display: block;
				}
			}
		}

		#main-navigation {
			float: left;
			width: 50%;
			
			
			ul {
				
				li {
					position: relative;

					a {

					}

					//Child menu
					ul {
						box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
						background: rgba(28,41,34,0.8);
						display: none;
						float: left;
						left: 0;
						position: absolute;
						top: 1.5em;
						z-index: 99999;
						padding: 1em 0;
						
						li {
							a {
								width: 200px;
								display: block;
								padding: .5em 1em;

								&:hover {
									background: rgba(28,41,34,1);
								}
							}
						}
						
						
						//Grandchild
						ul {
							left: 100%;
							top: 0;
						}
					}
				}
				

				li:hover > ul {
					display: block;
				}
			}

			.secondary {
				float: right;
				width: 25%;

				ul {
					li {
						a {

						}
					}
				}
			}
			
		}

		
	} // #masthead

} // media break-medium