/* Registration
--------------------------------------------- */
.class-picker {
	padding-top: 2em;
}

.reg-heading {
	
	.content-subheading {
		margin-bottom: $vspacing;
	}

	.register-help {
		color: $trackers-orange;
		background: transparent url('../images/help-arrow.png') right top no-repeat;
		display: inline;
		padding: 1.5em 3em 1em 0;
		font-weight: 600;
		font-style: italic;
		@include font-size(16);
		//margin-left: 38%;
	}
}

#registration {
	
	clear: both;
	margin: 2em 0;


	

	.ui-tabs {
		//Tabs
		.ui-tabs-nav {
			li {
				display: inline-block;
				
				border-right: $block-border;
				border-left: $block-border;
				
				font-family: $heading-font;
				
				@include font-size(18);

				a {
					text-decoration: none;
					color: $text-light;
					background: $bg-white;
					border-top: $block-border;
					display: block;
					padding: .5em;
					box-sizing: border-box;
					-webkit-transition: background .2s;
					-moz-transition: background .2s;
					-ms-transition: background .2s;
					-o-transition: background .2s;
					transition: background .2s;
					

					&:hover {
						background: #fff;
						color: $heading-color;
					}

				}

				&.ui-tabs-active {
					

					a {	
						background: $bg-dark;
						color: #fff;
					}
				}
			}
		}

		//Panel
		.ui-tabs-panel {
			
			.location {
				border-right: $block-border;
				border-bottom: $block-border;
				border-left: $block-border;
				border-top: 3px solid $bg-dark;
				box-sizing: border-box;
				position: relative;

				img {
					width: 100%;
					vertical-align: top;
				}

				.gradient {
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMjkyMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzI5MjIiIHN0b3Atb3BhY2l0eT0iMC42Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
					background: -moz-linear-gradient(top,  rgba(28,41,34,0) 0%, rgba(28,41,34,0.6) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,41,34,0)), color-stop(100%,rgba(28,41,34,0.6))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(28,41,34,0) 0%,rgba(28,41,34,0.6) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(28,41,34,0) 0%,rgba(28,41,34,0.6) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(28,41,34,0) 0%,rgba(28,41,34,0.6) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(28,41,34,0) 0%,rgba(28,41,34,0.6) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c2922', endColorstr='#991c2922',GradientType=0 ); /* IE6-8 */


					position: absolute;
					top: 0;
					bottom: 0;
					width: 100%;
				}
				figcaption {
					position: absolute;
					bottom: 1em;
					left: 1em;
					color: #fff;
					@include font-size(20);
					font-weight: 500;
					font-style: italic;
					
				}
				
			}

			.message {
				background: $bg-white;
				border-right: $block-border;
				border-bottom: $block-border;
				border-left: $block-border;
				padding: 1em;

				p {
					font-style: italic;
					line-height: $line-height-content;
				}
			}

			//ACCORDION
			.accordion {

				.head {
					margin-top: .4em;
					background: $green-light;
					padding: 1em 1em;
					cursor: pointer;
					-webkit-transition: background .2s;
					transition: background .2s;
					@include font-size(16);

					&:before {
						font-family: 'FontAwesome';
						content: "\f0da";
						float: left;
						margin-right: 1em;
					}

					&:hover {
						background: $green-light-hover;
					}

					&.active {
						background: $green;
						color: #fff;

						&:before {
							content: "\f0d7";
						}
					}

					h3 {
						line-height: 1;
						margin: 0;
						
					}
				}

				.content {
					border-left: $block-border;
					border-right: $block-border;

					.classlist {
						li {
							line-height: 1.2;
							border-bottom: 1px solid #ddd;

							&:last-child {
								border-bottom: $block-border;
							}

							.title {
								width: 80%;
								display: inline-block;
							}

							a {
								display: block;
								padding: 1em;
								text-decoration: none;
								color: $text-light;
								@include font-size(13);
								-webkit-transition: background .2s;
								transition: .2s;

								&:hover {
									background: #eee;
								}

								.full {
									color: $trackers-orange;
								}

								
							}
							

							&.full {
								a {
									background: $bg-orange-light;
								}
							}
						}
					}
				}
			}

		}
	}

	&.class-page { //Rules for accordion items that are not links (and have add to cart buttons)
		.ui-tabs {
			.ui-tabs-panel {
				.accordion {
					.content {
						.classlist {
							li {
								color: $text-light;
								@include font-size(13);
								clear: both;
								overflow: hidden;

								.title {
									width: 75%;
									display: inline-block;
									margin: 1em 2.5%;
									float: left;
								}

								.cartbutton {
									float: right;
									width: 20%;
									text-align: right;

									button,
									.button {
										padding: .5em;
										@include font-size(12);
										text-transform: none;
										margin: .8rem;
										display: inline-block;
										color: #fff;

										&:hover {
											background: $green-hover; 
											//background: #b7d0b4; /* Old browsers */
											/* IE9 SVG, needs conditional override of 'filter' to 'none' */
											background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3ZDBiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGFiN2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
											background: -moz-linear-gradient(top,  #b7d0b4 0%, #80ab7b 100%); /* FF3.6+ */
											background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7d0b4), color-stop(100%,#80ab7b)); /* Chrome,Safari4+ */
											background: -webkit-linear-gradient(top,  #b7d0b4 0%,#80ab7b 100%); /* Chrome10+,Safari5.1+ */
											background: -o-linear-gradient(top,  #b7d0b4 0%,#80ab7b 100%); /* Opera 11.10+ */
											background: -ms-linear-gradient(top,  #b7d0b4 0%,#80ab7b 100%); /* IE10+ */
											background: linear-gradient(to bottom,  #b7d0b4 0%,#80ab7b 100%); /* W3C */
											filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7d0b4', endColorstr='#80ab7b',GradientType=0 ); /* IE6-8 */

													
											color: #fff;
										}
									}
								}

								.full {
									color: $trackers-orange;
								}

								&.full {
									background: $bg-orange-light;
								}
							}
						}
					}
				}
			}
		}

	}
}

