/* Typography
--------------------------------------------- */

body {
	font-family: $base-font;
	color: $text-color;
	@include font-size(14);
	//line-height: 1.6;
}

h1, h2, h3, h4 {
	margin: 1em 0 .5em;
}

b {
	font-weight: 600;
}

i {
	font-style: italic;
}

.page-title {
	font-family: $heading-font;
	font-size: 30px;
	color: $heading-color;
}

.entry-content {
	h2 {
		font-size: 24px;
		font-family: $heading-font;
		color: $heading-color;
	}

	p {
		font-size: 14px;
		margin-bottom: 1.5em;
		line-height: $line-height-content;

		a {
			color: $link-color;
			font-style: italic;

			&:hover {
				color: $link-hover;
				
			}
		}
	}
}